<h1>Smart Chef</h1>
<h3 style="font-size: 23px; margin-left: 120px; font-weight: 600; margin-bottom: 40px">Выберите фото</h3>
<div style="display: flex; flex-direction: row; justify-content: flex-start; margin-left: 30px">
<div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/cucumber2.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/tomato.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/eggplant.jpeg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/chicken.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
</div>
<div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/potatoes.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/milk2.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/mayonnaise.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/oliveoil.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
</div>
<div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/greensfin.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/onion1.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/prawns.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/seafood.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
</div>
<div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/rice.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/wfish.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/squash.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/lemon.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
</div>
<div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/shampin.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/flour2.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/carrot.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/eggs.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
</div>
<div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/trout.png" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/meat.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/spaghetti.jpeg" alt="альтернативный текст"><button class="choose">Выбрать</button></div>
<div style="margin-left: 70px; margin-bottom: 20px"><img class="image" style="width: 150px; height: 150px;" src="/images/wfish2.jpg" alt="альтернативный текст"><button class="choose">Выбрать</button>
</div>
</div>
</div>
