
<!-- {{#each recipes}} -->
<div style="width: 800px; height: 170px; border: 1px solid black; margin-left: 50px; margin-top: 20px;">
<h3 class="nameDish" style="float: left; text-indent: 30px">{{this.title}}</h3>
<img style="width: 150px; height: 150px; float: right; margin: 10px" src="{{this.image}}" alt="picture">
<button class="dish" style=" margin: 20px">choose</button>
</div>
<!-- {{/each}} -->
